body {
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Inter", sans-serif;
    color: #121212;
}

.login-page {
    background-image: url("Pictures/UPV-OCS-Background.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.sign-up-page {
    justify-content: center;
}

.title {
    position: absolute;
    top: 20px;
    left: 50px;
    color: #7B1113;
    font-size: 42px;
    font-weight: 800;
}

.login-container {
    position: absolute;
    right: 250px;
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-container h2, .sign-up-container h2 {
    margin: 0 0 20px;
    text-align: center;
}

.input-container {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    margin: 15px 0;
    background: #F5F5F5;
    border-radius: 15px;
    padding: 10px;
}
  
.input-container .material-icons {
    padding: 10px;
    text-align: center;
    color: #999;
    font-size: 20px !important;
}

.input-field {
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
    color: #121212;
    background: #F5F5F5;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.input-container {
    &:focus-within {
        .material-icons {
            color: #121212; 
        }
        .input-field {
            color: #121212;
        }
    }
}

.login-container button, .sign-up-container button {
    box-sizing: border-box;
    width: 100%;
    padding: 15px 0;
    background-color: #7B1113;
    border: none;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.login-container button:hover, .sign-up-container button:hover {
    background: #014421;
    transition: 0.5s;
}

.sign-up {
    position: absolute;
    right: 285px;
    top: 555px;
    font-weight: 500;

}

.sign-up a, .login a {
    text-decoration: none;
    color: #7B1113;
    font-weight: 700;
}

.sign-up a:hover, .login a:hover {
    color: #014421;
    transition: 0.5s;
}

.sign-up-container {
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login {
    display: inline-block;
    position: absolute;
    top: 590px;
    right: 615px;
    font-weight: 500;
}

.background {
    min-height: 300px;
    background-color: #7B1113;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -100;
}

.side-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    box-sizing: border-box;
    width: 250px;
    padding: 10px 5px;
    height: 95%;
    margin: 5% 25px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.side-nav h2 {
    margin: 10px 0 25px 0;
    text-align: center;
    color: #7B1113;
    font-size: 32px;
}

.side-nav hr {
    border: 0;
    height: 0;
    width: 150px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.side-nav ul {
    list-style-type: none;
    padding: 20px 25px;
    margin: 0;
}

.side-nav .material-icons {
    padding: 0 15px;
    margin: 0;
    vertical-align: middle;
}

.side-nav a {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 0;
    vertical-align: middle;
    text-decoration: none;
    color: #121212;
    font-size: 16px;
    font-weight: 400;
    border-radius: 15px;
}

.side-nav a:hover {
    color: #FFFFFF;
    background: #7B1113;
    font-weight: 500;
    transition: 0.5s;
}

.logout {
    position: absolute;
    left: 0;
    bottom: 25px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    padding: 15px 0;
    background: #7B1113;
    border: none;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.logout:hover {
    background: #014421;
    transition: 0.5s;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    width: 1180px;
    position: absolute;
    top: 10px;
    left: 320px;
}

.nav-page {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}

.nav-page span {
    font-weight: 700;
}

.search-container {
    display: flex;
    box-sizing: border-box;
    width: 250px;
    margin: 15px 0;
    background: #FFFFFF;
    border-radius: 15px;
    padding: 5px 10px;
}
  
.search-container .material-icons {
    padding: 5px;
    text-align: center;
    color: #121212;
    font-size: 18px !important;
}

.search-field {
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
    background: #FFFFFF;
    color: #121212;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}