body {
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Inter", sans-serif;
    color: #121212;
}

.login-page {
    background-image: url("Pictures/Login-Background.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.sign-up-page {
    background-image: url("Pictures/Sign-Up-Background.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    justify-content: center;
}

.title {
    position: absolute;
    top: 20px;
    left: 50px;
    color: #7B1113;
    font-size: 42px;
    font-weight: 800;
}

.title span {
    color: #014421;
}

.login-container {
    position: absolute;
    right: 250px;
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-container h2, .sign-up-container h2 {
    margin: 0 0 20px;
    text-align: center;
}

.input-container {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    margin: 15px 0;
    background: #F5F5F5;
    border-radius: 15px;
    padding: 10px;
}
  
.input-container .material-icons {
    padding: 10px;
    text-align: center;
    color: #999;
    font-size: 20px !important;
}

.input-field {
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
    color: #121212;
    background: #F5F5F5;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    border-radius: 10px;
}

.input-container {
    &:focus-within {
        .material-icons {
            color: #121212; 
        }
        .input-field {
            color: #121212;
        }
    }
}

.login-container button, .sign-up-container button {
    box-sizing: border-box;
    width: 100%;
    padding: 15px 0;
    background-color: #7B1113;
    border: none;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.login-container button:hover, .sign-up-container button:hover {
    background: #014421;
    transition: 0.5s;
}

.sign-up {
    position: absolute;
    right: 285px;
    top: 555px;
    font-weight: 500;

}

.sign-up a, .login a {
    text-decoration: none;
    color: #7B1113;
    font-weight: 700;
}

.sign-up a:hover, .login a:hover {
    color: #014421;
    transition: 0.5s;
}

.sign-up-container {
    background-color: #FFFFFF;
    padding: 30px;
    margin-bottom: 100px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.radio-container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px 20px 20px;
}

.radio-button {
    display: block;
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.radio-button input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #F5F5F5;
    border-radius: 50%;
}
  
.radio-button:hover input ~ .checkmark {
    background-color: #014421;
    transition: 0.5s;
}

.radio-button input:checked ~ .checkmark {
    background-color: #7B1113;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-button input:checked ~ .checkmark:after {
    display: block;
}

.radio-button .checkmark:after {
    top: 6.5px;
    left: 6.5px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
}

.login {
    display: inline-block;
    position: absolute;
    top: 560px;
    left: 625px;
    font-weight: 500;
}

.background {
    min-height: 300px;
    background-color: #7B1113;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -100;
}

.side-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    box-sizing: border-box;
    width: 250px;
    padding: 10px 5px;
    height: 95%;
    margin: 5% 25px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.side-nav h2 {
    margin: 10px 0;
    text-align: center;
    color: #7B1113;
    font-size: 32px;
    font-weight: 800;
}

.side-nav h2 span {
    color: #014421;
}

.side-nav hr {
    border: 0;
    height: 0;
    width: 150px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px; 
}

.user-profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.user-profile h5 {
    margin: 25px 0;
    font-size: 18px;
    font-weight: 700;
}

.user-profile h5 span {
    color: #7B1113;
    font-weight: 800;
}

.side-nav ul {
    list-style-type: none;
    padding: 0 25px;
    margin: 0;
}

.side-nav .material-icons {
    padding: 0 15px;
    margin: 0;
    vertical-align: middle;
}

.side-nav a {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 0;
    vertical-align: middle;
    text-decoration: none;
    color: #121212;
    font-size: 16px;
    font-weight: 400;
    border-radius: 15px;
}

.side-nav .odd:hover {
    color: #FFFFFF;
    background: #7B1113;
    font-weight: 500;
    transition: 0.5s;
}

.side-nav .even:hover {
    color: #FFFFFF;
    background: #014421;
    font-weight: 500;
    transition: 0.5s;
}

.logout {
    box-sizing: border-box;
    width: 100%;
    padding: 15px 0;
    margin-top: 30px;
    background: #7B1113;
    border: none;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.logout:hover {
    background: #014421;
    transition: 0.5s;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    width: 1180px;
    position: absolute;
    top: 10px;
    left: 310px;
}

.nav-page {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}

.nav-page span {
    font-weight: 700;
}

.search-container {
    display: flex;
    box-sizing: border-box;
    width: 250px;
    margin: 15px 0;
    background: #FFFFFF;
    border-radius: 15px;
    padding: 5px 10px;
}
  
.search-container .material-icons {
    padding: 5px;
    text-align: center;
    color: #121212;
    font-size: 18px !important;
}

.search-field {
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
    background: #FFFFFF;
    color: #121212;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1180px;
    position: absolute;
    top: 70px;
    left: 310px;
}

.dashboard h1 {
    color: #FFFFFF;
    font-size: 36px;
}

.upcoming-appointments {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.appointment-card {
    width: 350px;
    padding: 5px 15px;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-date {
    margin: 20px 0 15px 10px;
    font-size: 28px;
    font-weight: 700;
}

.card-time {
    margin: 0 10px;
    font-size: 16px;
    font-weight: 500;
}

.card-agenda {
    margin: 40px 0 15px 10px;
    font-weight: 400;
}

.card-faculty-staff {
    margin: 0 0 20px 10px;
    color: #7B1113;
    font-weight: 700;
}

.card-user {
    float: right;
    background: #014421;
    padding: 10px 15px;
    margin: 0 10px 20px 0;
    text-align: right;
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 10px;
}

.appointment-calendar {
    width: 100%;
    margin: 30px 0;
    padding: 20px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.profile, .settings {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 1180px;
    position: absolute;
    top: 70px;
    left: 310px;
}

.profile h1, .settings h1 {
    width: 100%;
    color: #FFFFFF;
    font-size: 36px;
}

.edit-container, .settings-container {
    box-sizing: border-box;
    width: 70%;
    padding: 25px 25px 35px;
    margin-bottom: 25px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.edit-container h2, .settings-container h2 {
    padding: 0;
    margin: 0;
    color: #7B1113;
    font-size: 32px;
    font-weight: 700;
}

.edit-container hr, .settings-container hr {
    margin: 20px 0 25px 0;
    border: 0;
    height: 0;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.edit-container h5, .settings-container h5 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    margin-top: 0;
}

.edit-container label, .settings-container label {
    display: block;
    padding-bottom: 7px;
    font-size: 16px;
    font-weight: 700;
}

.edit-container input, .edit-container textarea, .edit-container select, .settings-container input {
    box-sizing: border-box;
    width: 100%;
    padding: 14px;
    border: none;
    outline: none;
    color: #121212;
    background: #F5F5F5;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    border-radius: 5px;
}

.edit-container select {
    border-right: 15px solid #F5F5F5;
}

.edit-field, .settings-field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 0 25px;
}

.edit-container button, .settings-container button {
    padding: 12px 16px;
    background-color: #7B1113;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.edit-container button {
    position: absolute;
    top: 115px;
    left: 690px;
}

.settings-container button {
    position: relative;
    left: 640px;
}

.edit-container button:hover, .settings-container button:hover {
    background: #014421;
    transition: 0.5s;
}

.picture-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.picture-field img {
    width: 200px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.picture-field input {
    width: 300px;
    margin-bottom: 20px;
}

.username-field, .first-name-field {
    width: 50%;
}

.email-field, .last-name-field {
    width: 46%;
}

.username-field, .email-field {
    margin-bottom: 30px;
}

.first-name-field, .last-name-field {
    margin-bottom: 20px;
}

.address-field {
    width: 100%;
    margin-bottom: 30px;
}

.city-field, .municipality-field, .zip-code-field {
    width: 31%;
    margin-bottom: 20px;
}

.bio-field {
    width: 100%;
    margin-bottom: 30px;
}

.course-field {
    width: 55%;
    margin-bottom: 20px;
}

.year-field {
    width: 41%;
    margin-bottom: 20px;
}

.profile-container {
    display: flex;
    flex-shrink: 20;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 27%;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.profile-background {
    background-image: url("Pictures/Profile-Background.png");
    background-size: cover;
    background-position: top;
    height: 190px;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 19px 19px 0 0;
}

.profile-picture {
    position: absolute;
    top: 180px;
    width: 170px;
    height: 170px;
    border: 10px solid #FFFFFF;
    border-radius: 50%;
}

.profile-container h2 {
    margin: 85px 0 0 0;
    font-size: 28px;
    font-weight: 700;
}

.profile-container h3 {
    margin: 10px 0 0 0;
    font-size: 16px;
    font-weight: 500;
}

.profile-container p {
    margin: 35px 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
}

.profile-container h4 {
    background: #014421;
    color: #FFFFFF;
    margin: 0 0 30px 0;
    padding: 13px 15px;
    font-size: 13px;
    font-weight: 700;
    border-radius: 10px;
}

.blank, .old-password, .new-password, .confirm-password, .delete-password {
    width: 48%;
}

.old-password {
    margin-bottom: 30px;
}

.new-password, .confirm-password {
    margin-bottom: 20px;
}

.delete-field {
    align-items: flex-end;
    justify-content: flex-start;
}

.delete-password {
    margin-bottom: 10px;
}

.delete-button {
    position: static !important;
    margin: 0 0 10px 20px;
}